/*Zerando as propriedades padrões da aplicação*/
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    box-sizing: border-box;
    vertical-align: baseline;
    font: inherit;
}

body {
    background-color: black;
    color: white;
    font-family: Arial;
    font-size: 30px;
}

.box {
    flex: 1;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.txt-title {
    padding: 30px;  
}

.img {
    padding-bottom: 60px;
    flex: 1;
    align-content: space-around;
}

.input {
    padding-bottom: 10px;
}

.input input[type= "text"]{
    background-color: #AC1CF4;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    text-align: center;
    border-color: #AC1CF4;  
    outline: 0;
    font-size: 20px;
    color: white;
    transition: .5s;
}

.input input[type= "text"]::placeholder {
    color: white;
    font-family: Arial;
    font-size: 20px;
    font-style: italic;
}

.input input[type="text"]:focus {
    width: 300px;
    transition: .5s;
}

.button {
    padding-bottom: 60px;    
}

.button :hover {
    cursor: pointer;
}

.button button[type= "button"] {
    background-color: #ECC40E;
    border-radius: 50px;
    height: 30px;
    width: 200px;
    border-color: #ECC40E;
    color: white;
    font-size: 18px;
    font-family: Arial;
    font-weight: bolder;
    outline: 0;
}

.output {
    flex: 1;
}

.output input[type= "text"] {
    height: 50px;
    text-align: center;
    font-size: 50px;
    background-color: black;
    border-color: black;
    color: white;
    outline: 0;
}